.footer {
  padding-bottom: 16px;
  .card-body {
    background-image: url("/lhhkhkt-design-demo/assets/images/bg-footer.png");
    background-position: right top;
    background-size: contain;
    background-repeat: no-repeat;
    font-size: 12px;
    padding-bottom: 0;
  }
}
