.header-banner {
  position: relative;

  .banner-background {
    @include media-breakpoint-down(sm) {

    }
  }
  
  .logo {
    position: absolute;
    top: 50%;
    left: 22px;
    margin: 0;
    border-radius: 100%;
    transform: translate(0%, -50%);

    img {
      // background-image: url('./assets/images/banner-top.png');
      width: 80%;
      transition: 0.5s;
      
      @include media-breakpoint-up(lg) {
        width: 100%;
      }
    }
  }

  .title {
    position: absolute;
    top: 50%;
    left: 120px;
    margin: 0;
    border-radius: 100%;
    transform: translate(0%, -50%);
    
    .title1 {
      color: $primary;
      font-size: $font-size-base;
      font-weight: 900;
      // font-family: roboto;
      margin: 0px;
      -webkit-text-stroke-color: white;
      -webkit-text-stroke-width: 0.5px;
      transition: 0.5s;
      @include media-breakpoint-up(lg) {
        font-size: 22px;
      }
    }

    .title2 {
      color: $secondary;
      font-size: 18px;
      font-weight: 900;
      // font-family: roboto;
      text-shadow: 4px 4px 3px #5b4747;
      margin: 0px;
      -webkit-text-stroke-color: white;
      -webkit-text-stroke-width: 0.5px;
      transition: 0.5s;
      @include media-breakpoint-up(lg) {
        font-size: 24px;
      }
    }

    @include media-breakpoint-up(lg) {
      left: 135px;
    }
  }

  @include media-breakpoint-down(sm) {
    background-color: $primary;
    height: 60px;
  }
}
