$primary: #249f29;
$secondary: #b00101;

$white: #fff;
$black: #000;

$font-family-base: 'Source Serif Pro', serif;

$navbar-dark-color: $white;
$navbar-dark-active-color: $white;
$navbar-light-color: $black;
$navbar-light-active-color: $black;

$dropdown-border-radius: 0;

$grid-gutter-width: 20px;

$card-border-radius: 0;